jogos/__pycache__/adivinhacao.cpython-310.pyc
jogos/__pycache__/forca.cpython-310.pyc
Básico/jogos/__pycache__/adivinhacao.cpython-310.pyc
Básico/jogos/__pycache__/forca.cpython-310.pyc
POO/__pycache__/conta.cpython-310.pyc
POO_2/tempCodeRunnerFile.py
brasilidades/__pycache__/cpf.cpython-311.pyc
brasilidades/__pycache__/cpf_cnpj.cpython-311.pyc
.vscode/settings.json
brasilidades/__pycache__/cpf_cnpj.cpython-310.pyc
brasilidades/__pycache__/telefones.cpython-310.pyc
brasilidades/__pycache__/datas.cpython-310.pyc
brasilidades/__pycache__/acesso_cep.cpython-310.pyc
brasilidades/tempCodeRunnerFile.py
brasilidades/__pycache__/acesso_cep.cpython-310.pyc
POO_2/testes/__pycache__/bytebank.cpython-310.pyc
requirements.txt
.vscode/
venv/
POO_2/bytebank-tdd/__pycache__/
POO_2/bytebank-tdd/codigo/__pycache__/
POO_2/bytebank-tdd/tests/__pycache__/
POO_2/bytebank-tdd/tests/tempCodeRunnerFile.py
