jogos/__pycache__/adivinhacao.cpython-310.pyc
jogos/__pycache__/forca.cpython-310.pyc
Básico/jogos/__pycache__/adivinhacao.cpython-310.pyc
.gitignore
Básico/jogos/__pycache__/forca.cpython-310.pyc
POO/__pycache__/conta.cpython-310.pyc
POO_2/tempCodeRunnerFile.py
